<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="大人說我們太年輕、不成熟，所以要保護我們，但其實是限制我們。我們已經18歲也成年了，為什麼不能享有公民權？">
    <meta property="og:title" content="我成年但不能投票：台灣18歲公民權的追求｜端傳媒 Initium Media">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://theinitium.com/project/20221123-taiwan-voting-age-to-18/img/thumb.png">
    <meta property="og:url" content="https://theinitium.com/project/20221123-taiwan-voting-age-to-18">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="大人說我們太年輕、不成熟，所以要保護我們，但其實是限制我們。我們已經18歲也成年了，為什麼不能享有公民權？">
    <meta property="og:site_name" content="我成年但不能投票：台灣18歲公民權的追求｜端傳媒 Initium Media">
    <meta name="twitter:image:alt" content="大人說我們太年輕、不成熟，所以要保護我們，但其實是限制我們。我們已經18歲也成年了，為什麼不能享有公民權？">
    <meta property="fb:app_id" content="598152927924137">
    <meta name="twitter:site" content="@initiumnews">
    <title>我成年但不能投票：台灣18歲公民權的追求｜端傳媒 Initium Media</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/app.min.css">
    <script>
      (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-65642613-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="wrapper">
      <nav id="nav">
        <div class="logo"><a href="https://theinitium.com/" target="_blank">端傳媒 Initium Media</a></div>
      </nav>
      <main class="index" id="main">
        <section class="intro d-flex justify-content-center align-items-center">
          <div class="bg"></div>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div class="title text-center">
                  <h1>我成年但不能投票：<br>台灣18歲公民權的追求</h1>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-4">
                <div class="text">
                  <p>大人說我們太年輕、不成熟，所以要保護我們，但其實是限制我們。我們已經18歲也成年了，為什麼不能享有公民權？</p>
                </div>
                <div class="social"><a class="facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Ftheinitium.com%2Fproject%2F20221123-taiwan-voting-age-to-18/" target="_blank"><span class="icon"></span></a><a class="twitter" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Ftheinitium.com%2Fproject%2F20221123-taiwan-voting-age-to-18/" target="_blank"><span class="icon"></span></a></div>
                <div class="arrow text-center"><span class="icon"></span></div>
              </div>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <p>11月26日即將登場的「18歲公民權」為台灣第一次公民複決修憲案，將公民權從現行的20歲下修到18歲。不過，與一般的公民投票案的投票年齡不同，此案為公民複決，仍須滿20歲才能投票，相當於本次相關的18、19歲人民無法投票決定公民權年齡是否下修為18歲。</p>
                <p>18歲公民權公投，目的是停止憲法第130條適用，修改為「中華民國國民年滿18歲者，有依法選舉、創制、複決及參加公民投票之權」，今年3月28日朝野皆有共識並送出立院，不過，根據中央選舉委員會公布，今年選舉人為1,923萬9392人，根據法規，總同意票數須超過選舉人總額一半，也就是961萬9697票的門檻，而這個數字遠高於2020年總統大選在74.9%的投票率下，蔡英文獲得史上最高的817萬票。</p>
                <p>翻開地圖，台灣的東亞鄰國，日本2015年修法、馬來西亞2019年修法、南韓也於2020年修法，接連透過修法以落實18歲公民權。而以目前全球投票年齡規定來看，在約230個國家中，只剩10國投票年齡規定需滿20歲，絕大多數國家此前已將投票年齡下修到18歲，甚至也有國家研議討論下修至16歲。</p>
                <p>總統蔡英文曾表示支持18歲公民權，支持讓年輕人有機會一起決定國家的未來。國民黨主席朱立倫則說，18歲公民權是世界潮流，更符合國內法制現狀，也是國民黨的一貫主張。不過即便各政黨難得擁有高度共識下，18歲公民權有機會過關嗎？</p>
                <p>端傳媒走進校園並訪談教師及公民組織，與青年學生談談他們如何看待公民權議題，而授課的第一線教師又是如何引導學生思考公民權議題呢？</p>
              </div>
            </div>
          </div>
        </section>
        <section class="stage">
          <div class="scene scene-1">
            <div class="container">
              <figure><img class="img-fluid" src="img/scene-1.png">
                <div class="card narration"><span>小蘭與父母正在看電視新聞報導18歲公民權，他們展開對話</span></div>
                <div class="card card-1 right bubbles"><span>爸爸、媽媽贊同18歲公民權嗎？</span></div>
                <div class="card card-2 left bubbles"><span>18歲還是小孩子，還在讀書，專心讀書就好，不要管政治。</span></div>
              </figure>
            </div>
          </div>
          <div class="scene scene-2">
            <div class="container">
              <figure><img class="img-fluid" src="img/scene-2.png">
                <div class="card bubbles"><span>我快要18歲了，學校教我們公民素養、參與社會，為什麼爸媽講的跟學校教的不一樣，為什麼否定我的能力？</span></div>
              </figure>
            </div>
          </div>
          <div class="scene scene-3">
            <div class="container">
              <figure><img class="img-fluid" src="img/scene-3.png">
                <div class="card narration"><span>小蘭到學校上課，公民老師要求全班分成六組，扮演專家學者，進行18歲公民權修憲的公聽會</span></div>
                <div class="card bubbles"><span>修憲流程：1/4立委提案－修憲委員會審查－立法院院會決議－公民複決</span></div>
              </figure>
            </div>
          </div>
          <div class="scene scene-4">
            <div class="container">
              <figure><img class="img-fluid" src="img/scene-4.png">
                <div class="card right bubbles"><span>大腦前額葉到25歲才發展完全，18歲的人判斷力不佳</span></div>
                <div class="card left bubbles"><span>個人成熟度差異大，難以用年齡數字框架</span></div>
                <div class="card right bubbles"><span>政大選研中心民調顯示，有半數的18-19歲民眾不支持公民權下修為18歲</span></div>
                <div class="card left bubbles"><span>世界趨勢，世界上大多數國家已將投票年齡定為18歲</span></div>
                <div class="card right bubbles"><span>課業繁重，沒有心力參與政治</span></div>
                <div class="card left bubbles"><span>政策與18歲的人相關，卻缺乏公民權</span></div>
                <div class="card right bubbles"><span>政治力影響校園，洗腦學生</span></div>
                <div class="card left bubbles"><span>學生擁有足夠的思辨能力</span></div>
                <div class="card right bubbles"><span>不放心讓沒有社會歷練的年輕人當民意代表</span></div>
                <div class="card left bubbles"><span>台灣社會高齡化，排擠青年意見，不符合世代正義</span></div>
                <div class="card right bubbles"><span>沒必要浪費錢修憲</span></div>
                <div class="card left bubbles"><span>這是憲法時刻*<br><small>*一個國家在天時地利人和下，公眾對憲法有變動的共識</small></span></div>
                <div class="card right bubbles"><span>學生好好讀書，不要被政黨洗腦、利用</span></div>
                <div class="card left bubbles"><span>18歲要負許多權利義務，唯獨缺乏公民權，權利義務不相等</span></div>
              </figure>
            </div>
          </div>
        </section>
        <section class="content">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <p>小蘭也曾擔心自己不夠瞭解議題，但在老師的引導下，與同學們進行模擬公聽會發表後，她相信自己有足夠判斷能力投票。你覺得即將滿18歲的小蘭應該擁有公民權嗎？以下閱讀更多報導。</p>
                <p> <small>註：端傳媒綜合學生遇到的情境進行插畫繪製</small></p>
              </div>
            </div>
          </div>
        </section>
        <section class="voting">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-4">
                <div class="title text-center">
                  <figure><img class="img-fluid" src="img/voting.svg"></figure>
                  <h3>18 歲公投權，你想怎麼投？</h3>
                </div>
                <div class="text">
                  <p>11月26日台灣舉辦18歲公民權修憲公投，若通過，法定投票年齡將從20歲下修到18歲，台灣將新增41萬青年選民。「最老」民主國家台灣，如何攀越962萬票的高門檻？</p>
                </div>
                <div class="form" v-if="table.length === 0">
                  <div class="option text-center">
                    <button class="btn" @click="setVote('agree')" :class="{active: vote === 'agree'}"><span class="text">贊成</span></button>
                    <button class="btn" @click="setVote('disagree')" :class="{active: vote === 'disagree'}"><span class="text">反對</span></button>
                  </div>
                  <div class="submit text-center">
                    <button class="btn" @click="sendVote()" :disabled="validate"> <span class="icon" v-if="loading"></span><span class="text" v-else>送出</span></button>
                  </div>
                </div>
                <div class="result" v-else>
                  <div class="label d-flex justify-content-between"><span class="agree">贊成</span><span class="disagree">反對</span></div>
                  <div class="bar d-flex flex-row">
                    <div class="agree" :style="`flex: ${votingRate}`"><span>{{votingRate | percentage}}</span></div>
                    <div class="disagree text-end" :style="`flex: ${1 - votingRate}`"><span>{{1 - votingRate | percentage}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="related">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-10 col-md-7 col-lg-4"><a href="https://theinitium.com/article/20221122-taiwan-voting-age-to-18-student/" target="_blank">
                  <div class="cover">
                    <figure><img class="img-fluid" src="img/related-1.jpg"></figure>
                  </div>
                  <div class="cate"><span>學生篇</span></div>
                  <div class="title">
                    <h6>「大人」說18歲太年輕、不成熟？台灣青年不想被保護，想要有公民權</h6>
                  </div>
                  <div class="lead">
                    <p>「他們說這是在保護我們，但其實是在限制我們。」</p>
                  </div></a></div>
              <div class="col-10 col-md-7 col-lg-4"><a href="https://theinitium.com/article/20221123-taiwan-voting-age-to-18-teacher" target="_blank">
                  <div class="cover">
                    <figure><img class="img-fluid" src="img/related-2.jpg"></figure>
                  </div>
                  <div class="cate"><span>教師篇</span></div>
                  <div class="title">
                    <h6>18歲不比81歲差：「最老」民主國家台灣，為何下修公民權這麼難？</h6>
                  </div>
                  <div class="lead">
                    <p>「現在一定要20歲的理由是什麼？理論基礎又在哪裡？」</p>
                  </div></a></div>
              <div class="col-10 col-md-7 col-lg-4"><a href="https://theinitium.com/article/20221123-taiwan-voting-age-to-18-advocacy" target="_blank">
                  <div class="cover">
                    <figure><img class="img-fluid" src="img/related-3.jpg"></figure>
                  </div>
                  <div class="cate"><span>倡議篇</span></div>
                  <div class="title">
                    <h6>反正再等兩年就好？遲到的公民權，不被信任的台灣青年世代</h6>
                  </div>
                  <div class="lead">
                    <p>「不斷把孩子幼體化，那他們就永遠不會長大。」</p>
                  </div></a></div>
            </div>
          </div>
        </section>
        <section class="credit">
          <div class="container d-flex justify-content-center">
            <ul>
              <li> <b>撰　　文　</b>王怡蓁</li>
              <li> <b>設　　計　</b>郭瑾燁</li>
              <li><b>插　　畫　</b>Rosa Lee</li>
              <li><b>工程協力　</b>Elk Leung</li>
              <li><b>策　　劃　</b>許伯崧</li>
            </ul>
          </div>
        </section>
      </main>
      <footer id="footer">
        <div class="copyrights text-center"><span>©2022 Initium Media. All Rights Reserved.</span></div>
        <div class="support d-flex justify-content-between align-items-center">
          <div class="left">
            <h5>加入端傳媒，支持好新聞</h5>
            <h6>用你選擇的媒體，決定你看見的世界</h6>
          </div>
          <div class="right"><a href="https://theinitium.com/subscription/offers/?&amp;utm_source=initium&amp;utm_medium=initium&amp;utm_campaign=initium_project" target="_blank">立即支持</a></div>
        </div>
      </footer>
    </div>
    <script data-cfasync="false" src="js/app.min.js"></script>
    <script>
      window.onload = function() {
        index.init();
      }
    </script>
  </body>
</html>